.cooler-container {
    padding: 20px;
    background-color: #f8f9fa; /* Light background */
}

h1 {
    text-align: center;
    color: #343a40; /* Dark text */
    margin-bottom: 20px;
}



.cooler-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.cooler-table th, .cooler-table td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: left;
}

.cooler-table th {
    background-color: #343a40; /* Dark header */
    color: white;
}

.cooler-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Zebra striping */
}

.footer{
    background-color: white;
}
body {
     background-color: white; /* Dark background */
     color: black;
 }