:root {
    --background-color: #1f2937;
    --text-color: white;
    --primary-color: #1abc9c;
    --secondary-color: #16a085;
    --border-color: #f2f2f2;
    --header-background: #000000;
    --header-text-shadow: rgba(0, 0, 0, 0.25);
}

body {
    background-color: #1f2937;
    color: var(--text-color);
    font-family: "Roboto Thin", sans-serif;
    margin: 0;
    padding: 0;
}

#builder-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 30px;
    font-family: "Roboto Thin", sans-serif;
}

#header {
    color: #FFF;
    text-align: center;
    background-color: var(--header-background);
    text-shadow: 0px 12px 12px var(--header-text-shadow);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0.3px;
    padding: 20px;
    margin-bottom: 30px; /* Space between header and tab buttons */
    border-radius: 10px;
}

#header h1 {
    margin: 0;
    color: var(--text-color);
}

#tab-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Spacing between buttons */
    margin-bottom: 20px; /* Space between tab buttons and the table */
}

.tab-button {
    background-color: var(--primary-color);
    color: black;
    border: none;
    padding: 15px 25px; /* Added larger padding for better spacing */
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

#parts-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1f2937;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
}

#parts-table td {
    padding: 15px;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
}

#parts-table td:last-child {
    border-right: none;
}

#parts-table tr:last-child td {
    border-bottom: none;
}

.select-button {
    background-color: var(--primary-color);
    color: black;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#peripherals-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.peripheral-item {
    background-color: var(--primary-color);
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px;
}

#action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#action-buttons button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.footer {
    background-color: #1f2937; /* Same dark color as header */
    color: #ffffff;
    text-align: center;
    padding: 1px;
    font-size: 1.2rem;
    margin-top: 2rem;
}

/* Responsive styles */
@media (max-width: 768px) {
    #builder-container {
        padding: 20px;
    }

    #parts-table td {
        padding: 10px;
    }

    #peripherals-row {
        justify-content: center;
    }

    #action-buttons {
        flex-direction: column;
        align-items: center;
    }

    #action-buttons button {
        margin: 10px 0;
    }
}

/* PRINT STYLES */
@media print {
    body {
        background-color: white;
        color: black;
        font-family: Arial, sans-serif;
    }

    #builder-container {
        width: 100%;
        padding: 20px;
    }

    #header {
        text-align: center;
        font-size: 24px;
        background: none;
        color: black;
    } 
    
    #parts-table {
        width: 100%;
        border-collapse: collapse;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 2px solid #ccc;
    }
}